
.layout{
    
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

footer {
    
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: var(--color2);
    text-align: center;
}
p{
    
    margin: 0;
    
}