

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  var( --color2);
    color: var( --color5);
    align-items: center;
    height: 380px;
    padding: 20px 60px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}


.nav-list{
    list-style-type: none;
    display: flex;
    gap: 51px;
    padding-top: 14px;
}


.nav-list li a{
    text-decoration: none;
    color: var( --color5);
}


.menu-hmb{
    display:none;
}


.boton{
    border-radius: 10px;
    padding: 8px 45px;
    border: 1px solid var(--color5);
    background-color: var(--color5);
    gap:10px;
}


.text{
    width: 100%;
    text-align: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 120px;
}



.text p{
    font-size: 14px;
    padding-bottom: 40px;
}


.box-logo{
    display: flex;
    align-items: center;
    gap:15px;
}


.box-logo h1{
    font-size: 24px;
    padding-top: 7px;
}


#logo{
    height: 36px;
    width: 36px;
}


.imagen img{
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -180px;
    z-index: 10;
}

.container form{
    background-color: var( --color5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 60px;
    width: 55%;
    height: auto;
}

form .form-group{
    width: calc(100%/2 - 20px);
}

.form-group span{
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.form-group input{
    padding: 9px;
    border-radius: 5px;
    border: 1px solid var(--color3);
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    color: var(--color3);
    font-size: 14px;
    box-sizing: border-box;

}

.btn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn .btnprimary{
    padding: 10px 150px;
    background-color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 5px;
}



.btnprimary:hover{
    background-color: #178a91;
}

.check{
    display: flex;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 30px;
    align-self: flex-start;
    line-height: 16px;
}



.check input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: var(--color2);
    cursor: pointer;
}

.icon-input icon-wrapper{
    position: relative;
    max-width: 90%;
}

.icon-input .icon-wrapper img{
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.icon-input .icon-wrapper input{
    padding-left:57%;
}


.icon-wrapper .select-custom{
    
    padding-left: 32px;
    color: var(--color3);
    border: 1px solid var(--color3);
    margin-bottom: 12px;
    border-radius: 5px;
}











