*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

/*        paleta de colores */

    --color1:#7CC9CF;
    --color2:#1CA0A8;
    --color3:#BFBFBF;
    --color4:#616161;
    --color5:#FFFFFF;
    

}

body{
    
    font-family: roboto;
}

