<?xml version="1.0" encoding="UTF-8"?>
    <web-app 
        version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
        <servlet>
            <servlet-name>UsuarioController</servlet-name>
            <servlet-class>com.utp.sistemaOdontologo.controller.LoginController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>CitaController</servlet-name>
            <servlet-class>com.utp.sistemaOdontologo.controller.CitaController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>TrabajadorController</servlet-name>
            <servlet-class>com.utp.sistemaOdontologo.controller.TrabajadorController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>PacienteController</servlet-name>
            <servlet-class>com.utp.sistemaOdontologo.controller.PacienteController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PacienteController</servlet-name>
            <url-pattern>/pacientes</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>UsuarioController</servlet-name>
            <url-pattern>/UsuarioController</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>CitaController</servlet-name>
            <url-pattern>/citas</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>TrabajadorController</servlet-name>
            <url-pattern>/trabajadores</url-pattern>
        </servlet-mapping>

        <session-config>
            <session-timeout>
                30
            </session-timeout>
        </session-config>
    </web-app>
